<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<mappers>
		<mapper resource="mappers/storeInfo_query.xml" />
		<mapper resource="mappers/user_query.xml" />
		<mapper resource="mappers/house_query.xml" />
		<mapper resource="mappers/interestArea_query.xml" />
		<mapper resource="mappers/envInfo_query.xml" />
		<mapper resource="mappers/houseInfo_query.xml" />
		<mapper resource="mappers/manager_query.xml" />
		<mapper resource="mappers/selectBox_query.xml" />
		<mapper resource="mappers/board_query.xml" />
		<mapper resource="mappers/qna_query.xml" />
	</mappers>
</configuration>


 